<!-- col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 -->
<div> 
  <div class="col-xs-12 col-sm-9 col-md-9">
    <div app-top-nav></div>

  </div>
  <div class="col-xs-12 col-sm-3 col-md-3">
    
    <div class="headerButtonControl">
      <div class="lbl-welcomeMessage">Welcome, <span class="lbl-welcomeLabel">Jignesh Patel</span></div>
      <a [routerLink]="['/login']" class="">Login</a>
      <a [routerLink]="['/help']">Help</a>
      <a [routerLink]="['/logout']"> Logout </a>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
