<div class="loginContainer">
  <div class="panel panel-primary">
    <div class="panel-heading">Forgot Password</div>

    <div class="panel-body">
      <table class="table table-bordered">
        <tr>
          <th> User Name</th>
          <td colspan="3"> {{employeeData.firstName}} </td> 
        </tr>
        <tr>
          <th> First Name </th>
          <td> {{employeeData.firstName}} </td>
          <th> Last Name </th>
          <td> {{employeeData.lastName}} </td>
        </tr>
        <tr>
          <th> Gender </th>
          <td> {{employeeData.gender}} </td>
          <th> Email </th>
          <td> {{employeeData.email}} </td>
        </tr>
        <tr>
          <th> Mobile Number </th>
          <td> {{employeeData.contact.mobileNo}} </td>
          <th> Phone </th>
          <td> {{employeeData.contact.homeNo}} </td>
        </tr>
        <tr>
          <th> Address </th>
          <td> {{employeeData.address.streetAddress}} </td>
          <th> City </th>
          <td> {{employeeData.address.city}} </td>
        </tr>
        <tr>
          <th> State </th>
          <td> {{employeeData.address.state}} </td>
          <th> Zip Code </th>
          <td> {{employeeData.address.zipcode}} </td>
        </tr>
        <tr>
          <th> Skill </th>
          <td> {{employeeData.skills.skillName}} </td>
          <th> Experience </th>
          <td> {{employeeData.skills.experienceInYears}} </td>
        </tr>
        <tr>
          <th> Proficiency </th>
          <td> {{employeeData.skills.proficiency}} </td>
          <th> </th>
          <td> </td>
        </tr>
      </table>
    </div>
    <div class="panel-footer">
      <a [routerLink]="['/login']">Login</a> | 
      <a [routerLink]="['/registration']">Registration</a>
    </div>
  </div>
</div>
