<div class="leftNavigation">
  <ul>
    <li><a routerLinkActive="active" routerLink="angular4"  href="javascript:;">Angular 4</a></li>
    <li><a routerLinkActive="active" routerLink="bootstrap" href="javascript:;">Bootstrap</a></li>
    <li><a routerLinkActive="active" routerLink="css3" href="javascript:;">CSS3</a></li>
    <li><a routerLinkActive="active" routerLink="html5" href="javascript:;">HTML5</a></li>
    <li><a routerLinkActive="active" routerLink="node" href="javascript:;">Node</a></li>
    <li><a routerLinkActive="active" routerLink="sass" href="javascript:;">SASS</a></li>
  </ul>
</div>
