<h1 class="pageTitle">
  CSS3 Interview Questions
</h1>

<accordion [closeOthers]="true">

  

<accordion-group heading="what is wrapping in css3?">
<p>Wrapping is a vital property for proper display of contents in web pages. If wrapping is disabled then the user could not display and view long lines that goes outside the window boundary and thus becomes useless.</p>
</accordion-group>

<accordion-group heading="What Is The Syntax Of Opacity In Css3?">
<p>style="opacity:0.4;filter:alpha(opacity=40)"
  Firefox uses the property opacity:x for transparency, while IE uses filter:alpha (opacity=x).</p>
</accordion-group>

<accordion-group heading="How Do You Manage The Complete Site In Center Of The Browser, Which Is Completely Using Divs Using The Help Of Css2 Or Css3?">
<ol>
  <li>IN CSS file</li>
  <li>body &#123; width:100%; &#125;</li>
  <li>Create a div tag and assign a class, say 'container' and place all your content in this div tag.</li>
  <li>Assign properties to this class in CSS file</li>
  <li>container &#123; width:777px; margin:0; &#125;</li>
</ol> 
</accordion-group>

<accordion-group heading="How Is Multi-column Feature Used In Css3?">
<p>By using the Multi-Column feature of CSS3 the web designers can get their output in multiple columns with definitions defined for each column like column-width, column-count.</p>
</accordion-group>

<accordion-group heading="What Is The Syntax Of Word Wrap In Css3?">
<p>The general syntax word-wrap property of CSS3 is as follows:
<strong> word-wrap: normal| break-word </strong>    
    The default initial value is normal in the above syntax.</p>
  </accordion-group>

<accordion-group heading="How Flexibility Is Achieved More In Css3?">
<p>Flexibility achieved is in greater ratio in CSS3 because of the feature of handling multiple style sheets in CSS3 and because of the modularized approach of CSS3.</p>
</accordion-group>

<accordion-group heading="What Are The Values That Can Be Taken By Property White-space Of Css3?">
<p>The five values that can be taken by property white-space of CSS3 are normal, pre, no wrap, pre-wrap and pre-line.</p>
</accordion-group>

<accordion-group heading="What Are Cascading Style Sheets?">
<p>Cascading style sheets help the designer in various ways. It primarily helps to design style sheets for content and HTML pages. It can be applied to any XML document or markup language.</p>
</accordion-group>

<accordion-group heading="Explain About Some Of The Features Of Css?">
<p>Some of the features used by CSS are to define a layout, colors, fonts, etc. It separates the content from the design part which makes the content much more visible thereby improving productivity of the entire process. It can make the same page appear in different formats.</p>
</accordion-group>

<accordion-group heading="Explain About The Rules Present In Style Sheets?">
<p>A huge list of rules is defined for style sheets. Each rule consists of selectors and declaration block. A declaration block consists of declarations which can be defined and separated by using a semicolon within curly braces. Also each declaration consists of a colon, a property and a semicolon.</p>
</accordion-group>

<accordion-group heading=" Explain About the hover element? ">
<p>A hover element is activated when the user moves a pointer over the area where HTML coding is defined. This style is being extensively used for online advertising. It is appended to #elementid:hover.</p>
</accordion-group>

<accordion-group heading="State Some Of The Uses Of Css?">
<p>CSS offers many possibilities to a designer and developer. Some of them are</p>
<ol>
    <li>Moving of the entire style sheet coding to a separate external folder.</li>
    <li>Repetition and code reuse features make CSS rich.</li>
    <li>Presentation and structure are made different by CSS etc.</li>
  </ol>
</accordion-group>

<accordion-group heading="State The Different Type Of Author Styles?">
<p>A web page author, developer, designer, etc can describe styles in three different forms they are</p>
<ol>
    <li>External style sheets</li>
    <li>Embedded style</li>
    <li>Inline styles</li>
    <li>Local and default style sheet.</li>
  </ol>
  <p> A default style sheet consists of the style imparted by the browser which the user is accessing for the information. </p>
</accordion-group>

<accordion-group heading="What Are The Main Goals Of Applying Style Sheets?">
<p>The main use of style sheet is to give the user a greater degree of control over his presentation. If the user does not like a certain font he can change it with flexibility without any difficulty.</p>
<p>Also a developer can minimize the effects which a browser can have on the application or the text part of the webpage.</p>
<p>Control over the entire web page without any external influences, separation of the page from the HTML code part.</p>

</accordion-group>
<accordion-group heading="Explain About Css1?">
<p>W3C recommended adoption of CSS1in 1996. Some of the capabilities and features present in CSS1 are as follows.</p>

<ol>
  <li>Font properties</li>
  <li>Background colors, text colors, etc</li>
  <li>Spacing between text, words, etc</li>
  <li>Tables, images alignment</li>
  <li>Border, margin, padding and positioning of elements</li>
  <li>Attributes are uniquely identified and classified generically.</li>
</ol>

</accordion-group>



<accordion-group heading="What Are The Additional Features Which Were Present In Css2 Compared To Css1?">
    <p>Many of the new features were present in CSS2 some of them are as follows.</p>
    <ol>
      <li>Positioning of elements will be according to the relative, fixed and the absolute positioning.</li>
      <li>Inclusion of large number of media functions.</li>
      <li>Shadows, bidirectional support for text and aural style sheets.</li>
    </ol>
    
    </accordion-group>
    
    <accordion-group heading="Explain About Css Filter?">
    <p>CSS filter solves designers and coders difficulties. With the help of these filters one can write entirely different code or modify the existing design patterns so that browsers receive CSS specifications which they support, thereby not allowing the browsers to make or create any unnecessary changes.</p>
  </accordion-group>
  
    <accordion-group heading="Explain About Internet Explorer Box Model Bug?">
    <p>Designers had a very tough time dealing with this bug, because it will not display box widths appropriately on the webpage. It displayed the block to be narrow in size. This bug can be rectified by using CSS filter and hacks. Also correct usage and documentation of XHTML can solve the problems.</p>
    
    </accordion-group>
    
    <accordion-group heading="Explain About Vertical Control Limitation?  ">
    <p>Vertical control limitations are always a nightmare for a designer. Horizontal positioning of text or element is always easy but vertically positioning an element always leads to convoluted and impossible tasks. CSS has unsupported rules for vertical placement of elements.</p>
    
    </accordion-group>
    
    <accordion-group heading="Explain About Absence Of Expressions?">
    <p>CSS currently does not have the ability to specify property values as simple expressions. For example if you want to calculate the size of all the columns but you have a restriction on the sum of all columns. This problem has been solved by many browsers by proprietary expressions which did the job well.</p>
    
    </accordion-group>
    
    <accordion-group heading="Explain About Lack Of Orthogonality?">
    <p>Lack of orthogonality explains about the various multiple jobs which are either undefined correctly for a specific application or used multiple times for the same job. CSS defines that internal elements of a table will not have margins so usage of border spacing is appropriate which leads to confusion.</p>
    
    </accordion-group>
    
    <accordion-group heading="Explain About The Ease Of Maintenance With Css.">
    <p>An effective style sheet has effective use of inheritance and cascading style sheets. When changes are applied to a single element of this global style sheet every element of the web page changes. This made the maintenance easy because here we can change the style of the whole page by effecting a change to a single element.</p>
    
    </accordion-group>
    
    <accordion-group heading="Explain About Float Containment?">
    <p>CSS does not support float elements as it can cause overflow of the elements. Floats also tend to vary according to the web browser resolution and size but positions do not. There are some multiple properties which can define about float but they have their own limitations.</p>
    
    </accordion-group>
    
    <accordion-group heading="State Some Limitations Of Style Sheets?">
    <p>Style sheets do have its own share of limitations some of them are as follows: -</p>
    <ol>
      <li>Inconsistent browser support</li>
      <li>Vertical control limitations</li>
      <li>Margin collapsing, float containment, control of element shapes, etc</li>
      <li>Lack of column declaration and variables are some of the limitations present in CSS.</li>
    </ol>
    
    </accordion-group>
    
    <accordion-group heading="What Is Id Selector?">
    <p>ID selector is an individually identified (named) selector to which a specific style is declared. Using the ID atthbute the declared style can then be associated with one and only one HTML element per document as to differentiate it from all other elements ID selectors are created by a character# followed by the selectors name. The name can contain characters a-z. A-Z. digits 0-9. period. hyphen. escaped characters, Unicode characters 161 -255. as well as any Unicode character as a numeric code, however they cannot start with a dash or a digit.</p>
    
    <p>#abc 123 &#123;  color red: background: black)</p>
    <p>This and only this element can be identified as abcl23</p>
    
    </accordion-group>
    
    <accordion-group heading="What Is Css Rule ruleset?">
    <p>There are two types of CSS rules: ruleset and at-rule. Ruleset identifies selector or selectors and declares style which is to be attached to that selector or selectors. For example P &#123;text-indent: 10pt) is a CSS rule. CSS rulesets consist of two parts: selector e.g. P and declaration. e.g. &#123;text-indent: 10pt)</p>
    <p>P &#123; text-indent: 10pt) - CSS rule (ruleset)</p>
    <p> &#123; text-indent: 10pt) - CSS declaration</p>
    <p>text-indent - CSS property</p>
    <p>10pt-CSS value</p>
    
    
    
    </accordion-group>
    
    <accordion-group heading="Display And Visibility Properties Are Used To Hide And Show Elements In Any Page. Then How They Are Different From Each Other?">
    <p>As said both the properties are used to hide and Show elements but they are different in the way they both work visibility property, set to hidden will still occupy the space in the layout but display:none does not take up the space in the page.</p>
    
    </accordion-group>
    
    <accordion-group heading="How To Page Break After An Html Element In Css?">
    <p>Use following code snippet</p>
    <p>&lt; p style="page-break-after: always" &gt; Place your text &lt; /p &gt;</p>
    <p>After above code. the rest content will appear in the next page. (It will not be visible as next page in browser but on the printer and in Print Preview, you will see them as next page)</p>
    
    </accordion-group>
    
    <accordion-group heading="What Is The Default Value Of position Attribute In Css?">
    <p>Default value Is "static".</p>
    
    </accordion-group>
    
    <accordion-group heading="What Are The Values Of position Attribute In Css?">
    <p>Possible values are static. relative, absolute, fixed. Inherit.</p>
    </accordion-group>
    
    
    
    
    
    
    

</accordion>
